{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 7
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": "warn",
    "no-console": "allow",
    "no-unused-vars": [
      "error", {
        "vars": "local",
        "args": "none"
      }
    ]
  }
}
